body {
    background-color: #040302;
    color: #98c8c8;
    text-align: center;
}

#input div {
    display: inline-block;
}

input {
    width: 4em;
    margin: 0 0.5em;
}

@media screen and (max-width: 800px) {
    #input div {
        max-width: 300px;
        display: flex;
        justify-content: space-between;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

    input {
        margin: 0;
    }

    #output div {
        width: 90%;
    }
}

#breakdown svg {
    box-sizing: content-box;
}

#output {
    font-size: 1.5em;
}

#output div {
    display: inline-block;
    padding: 0 1em;
}

.fancy-shape {
    clip-path: polygon(
        16px 0px,
        calc(100% - 4px) 0px,
        100% 4px,
        100% calc(100% - 16px),
        calc(100% - 16px) 100%,
        4px 100%,
        0px calc(100% - 4px),
        0px 16px
    );
    background-color: #0a1527;
    background-clip: padding-box;
    z-index: 1;
}
